 @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 280px;
}

 body {
     padding-top: 50px;
     background: #f6f6f6;
     margin-bottom: 280px;
 }
 
 hr {
     border-color: $hr-border-color;
 }
 
 h1,
 h2,
 h3,
 h4 {
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
 }

.border-bottom { border-bottom : 1px solid $gray-lighter; }
.bg-white{ background: #fff;}

.label{
   border-radius: 0; 
} 
   

 .navbar-default {
     background: #fff;
     .navbar-nav > li > a,
     .navbar-brand {
         font-family: 'Montserrat', sans-serif;
     }
     .navbar-brand {
         font-size: 22px;
     }
 }
 
 .container {
     max-width: 970px!important;
 }
 

 
 .helper {
     padding: $padding-large-vertical 0;
     border-bottom: 1px solid $gray-lighter;
 }
 
 .map {
     .helper {
         border-bottom: 0;
     }
 }
 
 .hero {
    background-color: hsl(34, 5%, 82%);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.10) 5px, hsla(197, 62%, 11%, 0.10) 10px,                  
      hsla(5, 5%, 63%, 0) 10px, hsla(5, 5%, 63%, 0) 35px, hsla(5, 5%, 63%, 0.10) 35px, hsla(5, 5%, 63%, 0.10) 40px,
      hsla(197, 62%, 11%, 0.10) 40px, hsla(197, 62%, 11%, 0.10) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
      hsla(5, 5%, 63%, 0.10) 60px, hsla(5, 5%, 63%, 0.10) 70px, hsla(35, 91%, 0%, 0.10) 70px, hsla(35, 91%, 0%, 0.10) 80px,
      hsla(35, 91%, 0%, 0) 80px, hsla(35, 91%, 0%, 0) 90px, hsla(5, 5%, 63%, 0.10) 90px, hsla(5, 5%, 63%, 0.10) 110px,
      hsla(5, 5%, 63%, 0) 110px, hsla(5, 5%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.10) 120px, hsla(197, 62%, 11%, 0.10) 140px       
      ),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.10) 5px, hsla(197, 62%, 11%, 0.10) 10px, 
      hsla(5, 5%, 63%, 0) 10px, hsla(5, 5%, 63%, 0) 35px, hsla(5, 5%, 63%, 0.10) 35px, hsla(5, 5%, 63%, 0.10) 40px,
      hsla(197, 62%, 11%, 0.10) 40px, hsla(197, 62%, 11%, 0.10) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
      hsla(5, 5%, 63%, 0.10) 60px, hsla(5, 5%, 63%, 0.10) 70px, hsla(35, 91%, 0%, 0.10) 70px, hsla(35, 91%, 0%, 0.10) 80px,
      hsla(35, 91%, 0%, 0) 80px, hsla(35, 91%, 0%, 0) 90px, hsla(5, 5%, 63%, 0.10) 90px, hsla(5, 5%, 63%, 0.10) 110px,
      hsla(5, 5%, 63%, 0) 110px, hsla(5, 5%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.10) 140px, hsla(197, 62%, 11%, 0.10) 160px       
    );

     ul {
         margin-bottom: 0
     }
 }
 
 .home {
     .page-title {
         padding: 30px 0;
         border-bottom: 0;
         margin: 0;
         h4 {
             margin-bottom: 0;
         }
     }
     .hero {
         background: #000;
         position: relative;
         overflow: hidden;
         .call-to-action {
             position: absolute;
             width: 100%;
             top: 40%;
             left: 0;
             z-index: 999;
             h2 {
                 color: #fff;
             }
         }
         ul {
             margin-bottom: 0;
             li {
                 width: 100%;
                 max-height: 600px;
                 img {
                     width: 100%;
                     opacity: 0.5;
                     filter: contrast(120%);
                 }
             }
         }
     }
 }
 
 .card {
     background: #fff;
     position: relative;
     h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
        color: $gray-base;
        }
     }
     hr{ border-color:#eee;}

     .label{ position: absolute; right:0px; bottom:20px;}
     .card-content{ border:1px solid $gray-lighter}
 }
 
 .media-left,
 .media-right,
 .media-body {
     vertical-align: middle;
 }
 
 .media .media-left,
 .media .media-right {
     img {
         background: $gray-light;
         border-radius: 50%;
         padding: 5px;
         display: block
     }
 }
 

 
 .grid-features {
     margin-top: -$padding-base-vertical/2;
     margin-bottom: -$padding-base-vertical/2;
     .row > div {
         padding-top: $padding-base-vertical/2;
         padding-bottom: $padding-base-vertical/2;
     }
 }

.row.row-outlined {
    margin:0;
    > div { 
        border-left:1px solid $hr-border-color;
        &:first-child{ border:0;}
    }
}
 
 .color-success {
     color: $brand-success!important
 }
 
 .list-icon-buttons li a {
     padding: 4px;
     border-radius: 50%;
     background: #fff;
     width: 24px;
     height: 24px;
     display: block;
     text-align: center;
     vertical-align: middle;
     line-height: 1;
     color: #000;
     border:1px solid #ddd;
 }
 
 .location-container {
     border-top: 1px solid $navbar-default-border
 }
 
 .gm-style-iw {
     width: 370px!important;
     height: auto;
     overflow: hidden;
     padding: 20px 10px;
     img,
     p,
     h4 {
         padding: 0;
         margin: 0;
     }
     > div > div > img {
         max-width: 350px;
         height: auto;
     }
 }
 
 .footer {
    height: 280px;
    color: #fff;
    background: $gray-base;
    position:absolute;
    width: 100%;
    bottom:0;
     a,
     ul,
     address {
         margin-bottom: 0;
         color: #fff;
     }
     .links ul li { 
            padding:0;
            a{border-left:1px solid $gray-lighter; padding:0 10px 0 15px;}
            &:first-child a { border:none;  }
        }
 }
 .login{ max-width:360px;}

 @media (max-width: $screen-xs-max) {}
