

body{
	&:not(.home){ padding-top:50px;}
}

h1, h2, h3{ margin:0;}

.container{ max-width: 970px!important;
	.content{ padding-bottom: 20px;}
}

.page-title{
	padding:$padding-large-vertical * 2  0 0;
	h3{ margin: 3px 0;}
}

.helper{ padding: $padding-large-vertical 0; border-bottom: 1px solid $gray-lighter;}

.map{
	.helper{ border-bottom:0;}

}


.hero{ ul { margin-bottom:0} }

.home{
	.page-title{ padding: 30px 0; border-bottom:0; margin:0;
		h4{ margin-bottom:0;}
	}

	.hero{
		position:relative;
		.searchbar{ position:absolute; width:100%; padding:25px; bottom:0; left:0; z-index: 999;
			background:rgba(0,0,0,0.7)}
		ul{
			margin-bottom: 0;
			li{ width: 100%; max-height: 600px;
				img{ width: 100%; }
			}
		}	

	}

}







.grid-features{
	margin-top:-$padding-base-vertical;
	margin-bottom:-$padding-base-vertical;
	.row > div{         
		padding-top: $padding-base-vertical;
		padding-bottom: $padding-base-vertical;
    }
}





.gm-style-iw {
	width:370px!important;height: auto; overflow: hidden; padding: 20px 10px;
	img, p, h4{ padding:0; margin:0;}
	> div > div > img { max-width:350px; height:auto; }
}


.footer{ padding: 30px 0; color: #fff; background: $gray-base; 
	ul,address{ margin-bottom:0;}
}


