
$gray-base:              #000 !default;
$gray-darker:            $gray-base !default;
$gray-dark:              $gray-base !default;


$navbar-default-link-color: $gray-base !default;

$brand-primary: $gray-base;
$brand-success: #26d326;
$btn-default-bg: transparent;

$border-radius-base:        0!default;
$border-radius-large:       0!default;
$border-radius-small:       0!default;

$navbar-inverse-color:      #fff;


$hr-border-color: #e6e6e6;
$gray-lighter:$hr-border-color;