
$gray-base:              #000 !default;
$gray-darker:            $gray-base !default;
$gray-dark:              $gray-base !default;



$navbar-default-link-color: $gray-base !default;



$border-radius-base:        0!default;
$border-radius-large:       0!default;
$border-radius-small:       0!default;