

body{
	background:#f7f7f7;
	&:not(.home){ padding-top:50px;}
}


.container{ max-width: 970px!important}

.page-title{
	padding:20px 0;
	h2{ margin: 0;}
	h4{ margin-bottom: 0}
}
.home{
	.page-title{ padding: 40px 0;}
}


ul#homeslideshow{
	li{ width: 100%; height: 600px;
		img{ width: 100%; }
	}
}


.hero{
	position:relative;
	.searchbar{ position:absolute; width:100%; padding:25px; bottom:0; left:0; z-index: 999;
		background:rgba(0,0,0,0.7)}

}